* {
  font-family: sans-serif;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button:nth-last-child(1),
button:nth-last-child(2) {
  background: tomato;
  color: white;
}

div:nth-last-child(1) {
  font-size: 0.9em;
  text-transform: uppercase;
  margin-top: 50px;
}
